<!-- Team Section -->
<div id="team" class="section">
    <div class="page-title-holder">
        <h3 class="entry-title">
            TEAM
        </h3>
    </div>
    <div class="section-wrapper block content-1170 center-relative">
        <div class="content-wrapper">
            <div class="member member-left">
                <img src="assets/images/about_item_01.jpg" alt="" data-threshold="0 0" data-jarallax-element="60 0">
                <div class="member-info">
                    <p class="member-postition">CEO</p>
                    <h5 class="member-name">Marty Stone</h5>
                    <div class="member-content">
                        <p>
                            Code the energy hidden in matter citizens of distant epochs sun. Citizens of distant epochs encyclopaedia galant ctica the ash of stellar alchemy Vangelis white dwarf adipisci velit. Nemo enim ipsam volupta tem quia voluptas sit aspernatur aut odit aut fugit radio telescope quis nostrum exercitatio nem ullam corporis suscipit laboriosam quis.
                        </p>
                        <div class="member-social-holder" data-jarallax-element="0 30">
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-vimeo"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-behance"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="member big-screen member-right">
                <div class="member-info">
                    <p class="member-postition">DESIGNER</p>
                    <h5 class="member-name">John Williams</h5>
                    <div class="member-content">
                        <p>
                            Code the energy hidden in matter citizens of distant epochs sun. Citizens of distant epochs encyclopaedia galant ctica the ash of stellar alchemy Vangelis white dwarf adipisci velit. Nemo enim ipsam volupta tem quia voluptas sit aspernatur aut odit aut fugit radio telescope quis nostrum exercitatio nem ullam corporis suscipit laboriosam quis.
                        </p>
                        <div class="member-social-holder" data-jarallax-element="0 -30">
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-vimeo"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-behance"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="assets/images/about_item_02.jpg" alt="" data-threshold="0 0" data-jarallax-element="60 0" />
            </div>

            <br>

            <div class="member member-left">
                <img src="assets/images/about_item_03.jpg" alt="" data-threshold="0 0" data-jarallax-element="60 0" />
                <div class="member-info">
                    <p class="member-postition">DEVELOPER</p>
                    <h5 class="member-name">Vanessa Doe</h5>
                    <div class="member-content">
                        <p>
                            Code the energy hidden in matter citizens of distant epochs sun. Citizens of distant epochs encyclopaedia galant ctica the ash of stellar alchemy Vangelis white dwarf adipisci velit. Nemo enim ipsam volupta tem quia voluptas sit aspernatur aut odit aut fugit radio telescope quis nostrum exercitatio nem ullam corporis suscipit laboriosam quis.
                        </p>
                        <div class="member-social-holder" data-jarallax-element="0 30">
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-vimeo"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-behance"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
