<!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full text-center">
                <h3>About</h3>
                <h1>More About Me</h1>
                <!-- <p class="lead">I code awesome web based solutions for brands and communities.</p> -->
                <p class="lead">Coding | Writing | Reading | Movies</p>
            </div>
        </div>

        <div class="row about-content">

            <div class="col-six tab-full left">
                <h3>Hi there! <br/> Thank you for checking out my portfolio</h3>

                <p>
                    I am Utibe-Abasi Emmanuel. I am a Full Stack Web developer based in Enugu State, Nigeria. I help brands and businesses build web experiences based on modern trends, online tools and latest technologies. I am passionate about learning and delivery excellent value on every project I take up.
                </p>

                <p>
                    As a web developer, I have had the opportunity to use my knowledge to help several brands and businesses build and launch their websites. I have also had the opportunity to coach and mentor beginners seeking to learn Web development as an instructor in various capacities.
                </p>

                <p>
                    I love working with teams where I can share my knowledge with others while learning from others as well.
                    I am actively looking for opportunities that will challenege me to employ my creative and problem-solving skills towards solving problems and creating products that push the boundaries.
                </p>
            </div>

            <div class="col-six tab-full right">
                <h3>I've Got Some superpowers.</h3>

                <ul class="skill-bars">
                    <li>
                        <div class="progress percent90"><span>90%</span></div>
                        <strong>HTML/CSS</strong>
                    </li>
                    <li>
                        <div class="progress percent85"><span>85%</span></div>
                        <strong>PHP</strong>
                    </li>
                    <li>
                        <div class="progress percent80"><span>80%</span></div>
                        <strong>Laravel</strong>
                    </li>
                    <li>
                        <div class="progress percent80"><span>80%</span></div>
                        <strong>React JS</strong>
                    </li>
                    <li>
                        <div class="progress percent75"><span>75%</span></div>
                        <strong>Angular 2+</strong>
                    </li>
                    <li>
                        <div class="progress percent80"><span>80%</span></div>
                        <strong>Wordpress</strong>
                    </li>
                </ul>
            </div>

        </div> <!-- end about-content -->

        <div class="row about-content about-content--buttons">

            <div class="col-six tab-full left">
                <a href="https://drive.google.com/file/d/1la5jj6YeXI6jxWU0Bzw1yj0ab38-ODJ8/view" class="btn btn--primary full-width">Download My CV</a>
            </div>
            <div class="col-six tab-full right">
                <a href="https://wa.me/2349038705881" target="_blank" class="btn full-width">Hire Me Now</a>
            </div>

        </div> <!-- end about-content buttons -->

        <div class="row about-content about-content--timeline">

            <div class="col-full text-center">
                <h3>My Work Experience.</h3>
            </div>

            <div class="col-six tab-full left">
                <div class="timeline">


                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">July 2021 - October 2021</p>
                            <h3>Bayof Real Estate</h3>
                            <h5>Full Stack Developer (Contract) - React JS, Laravel</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>Helped my client define and develop a plan for building a Real Estate
                                management web application for seamless user experience
                                Developed and mantained a Laravel REST api backend with a mySQL database
                                system to manage users, agents and listings.
                                Developed the frontend design for a real estate management website using React
                                JS
                                Deployed and maintained the project's github repositories and deployed the
                                backend and frontend on Heroku and Netlify.</p>
                            </div>
                    </div> <!-- end timeline__block -->

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">May 2021 - August 2021</p>
                            <h3>Techocraft ICT Solutions</h3>
                            <h5>Backend Developer/ Web development Tutor - PHP, Laravel</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>Worked with multi-functional developer teams to build solutions for clients based
                                on. Developed backend REST API using PHP's Laravel framework and MySQL for
                                management Mobile App platforms
                                Tested API endpoints and mantained a concise API documentation for REST APIs
                                using Postman
                                Deployed and maintained a Github repository for projects which were linked to
                                Heroku Repository for seamless testing, and integration.
                                Helped beginners learn the basics of Web development including HTML, CSS,
                                Javascript and PHP</p>
                        </div>
                    </div> <!-- end timeline__block -->
                </div> <!-- end timeline -->
            </div> <!-- end left -->

            <div class="col-six tab-full right">
                <div class="timeline">


                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">July 2020 - December 2020</p>
                            <h3>Danozone Digital</h3>
                            <h5>Full Stack Developer - HTML/CSS, Javascript, PHP, Wordpress</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>Developed a PHP and MySQL Database powered backend for a Charity
                                Organization Website with a powerful CMS and analytics system.
                                Developed the frontend design for an E-learning website using a HTML-based web
                                template, CSS and Javascript.
                                Developed a backend Rest API using Laravel PHP framework and MySQL for
                                management of the E-learning platform. 80% completed..</p>
                            </div>
                        </div> <!-- end timeline__block -->

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">November 2020 - January 2021</p>
                                <h3>Yordel Africa</h3>
                                <h5>Wordpress Developer</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Supervised the overhaul and redesign of Yordel Africa's official Website (https://www.yordelafrica.org) and the websites belonging to Yordel Africa's sub platforms.
                                    Developed a Social Networking platform for Youth Connect (https://www.youthconnect.com.ng), a platform under Yordel Africa</p>
                            </div>
                        </div> <!-- end timeline__block -->
                    </div> <!-- end timeline -->
            </div> <!-- end right -->

        </div> <!-- end about-content timeline -->

    </section> <!-- end about -->
