<!-- About Section -->
<div id="about" class="section">
    <div class="page-title-holder">
        <h3 class="entry-title">
            ABOUT
        </h3>
    </div>
    <div class="section-wrapper block content-1170 center-relative">
        <div class="content-wrapper">

            <div class="one_half">
                <h2 class="entry-title medium-text">
                    I code awesome web-based digital solutions
                </h2>
                <div>
                    <p>
                        I am a Full Stack web developer based in Enugu, Nigeria. I help brands and businesses build web experiences based on modern trends and technologies. I am passionate about learning and delivering highly optimized solutions on each project.
                    </p>

                    <p>
                        I have worked on several projects in Frontend, Backend and Full Stack roles. I have also been opportuned to work as a web development instructor coaching beginners from the basic to becoming professional developers.
                    </p>
                </div>
                <br>
                <div class="button-holder text-left">
                    <a href="https://drive.google.com/file/d/1la5jj6YeXI6jxWU0Bzw1yj0ab38-ODJ8/view?usp=sharing" target="_blank" class="button">
                        View my Resume
                    </a>

                    <a href="https://wa.link/gzyybk" target="_blank" class="button button-outline pricing-button ms-4">
                        Get in Touch
                    </a>
                </div>
            </div>

            <div class="one_half last" data-threshold="0 0" data-jarallax-element="120 0">
                <img src="assets/images/about_01.jpg" alt="" />
            </div>
            <div class="clear"></div>
        </div>
    </div>
  </div>
