<!-- About Section -->
<div id="about" class="section">
    <div class="page-title-holder">
        <h3 class="entry-title">
            ABOUT
        </h3>
    </div>
    <div class="section-wrapper block content-1170 center-relative">
        <div class="content-wrapper">

            <div class="one_half">
                <p class="title-description-up">
                    WHO WE ARE
                </p>
                <h2 class="entry-title medium-text">
                    Live up to <br>
                    your creative potential.
                </h2>
                <p>
                    Code the energy hidden in matter citizens of distant epochs from which we spring drake equation perga inconspicuous motespatch clean designed code and energy matter.
                </p>
                <br>
                <div class="button-holder text-left">
                    <a href="https://drive.google.com/file/d/1la5jj6YeXI6jxWU0Bzw1yj0ab38-ODJ8/view?usp=sharing" target="_blank" class="button">
                        My Resume
                    </a>
                </div>
            </div>

            <div class="one_half last" data-threshold="0 0" data-jarallax-element="120 0">
                <img src="assets/images/about_01.jpg" alt="" />
            </div>
            <div class="clear"></div>
        </div>
    </div>
  </div>
