    <!-- Portfolio Section -->
    <div id="portfolio" class="section no-padding">
        <div class="page-title-holder">
            <h3 class="entry-title">
                PORTFOLIO
            </h3>
        </div>
        <div class="section-wrapper block content-1170 center-relative">
            <div class="content-wrapper">
                <div id="portfolio-wrapper">
                    <div class="portfolio-load-content-holder"></div>
                    <div class="grid" id="portfolio-grid">
                        <div class="grid-sizer"></div>

                        <div id="p-item-1" class="grid-item element-item p_one_fourth">
                            <a class="item-link ajax-portfolio" href="portfolio-1.html" data-id="1">
                                <img src="assets/images/portfolio_item_01.jpg" alt="" />
                                <div class="portfolio-text-holder">
                                    <p class="portfolio-desc">INTERIOR</p>
                                    <p class="portfolio-title">Living Room</p>
                                </div>
                            </a>
                        </div>

                        <div id="p-item-2" class="grid-item element-item p_one_half">
                            <a class="item-link ajax-portfolio" href="portfolio-2.html" data-id="2">
                                <img src="assets/images/portfolio_item_02.jpg" alt="" />
                                <div class="portfolio-text-holder">
                                    <p class="portfolio-desc">FASHION</p>
                                    <p class="portfolio-title">Modeling</p>
                                </div>
                            </a>
                        </div>

                        <div id="p-item-3" class="grid-item element-item p_one_fourth">
                            <a class="item-link ajax-portfolio" href="portfolio-3.html" data-id="3">
                                <img src="assets/images/portfolio_item_03.jpg" alt="" />
                                <div class="portfolio-text-holder">
                                    <p class="portfolio-desc">CREATIVE</p>
                                    <p class="portfolio-title">Psd Mockup</p>
                                </div>
                            </a>
                        </div>

                        <div id="p-item-4" class="grid-item element-item p_one_fourth">
                            <a class="item-link ajax-portfolio" href="portfolio-4.html" data-id="4">
                                <img src="assets/images/portfolio_item_04.jpg" alt="" />
                                <div class="portfolio-text-holder">
                                    <p class="portfolio-desc">ARCHITECTURE</p>
                                    <p class="portfolio-title">Pillars</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
