    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Portfolio</h3>
                <h1>See some of My Latest Projects.</h1>

                <!-- <p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p> -->
            </div>
        </div>

        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="assets/images/mockups/bayof.jpg" class="thumb-link" title="Bayof Real Estate" data-size="1050x700">
                                <img src="assets/images/mockups/bayof.jpg"
                                     srcset="assets/images/mockups/bayof.jpg 1x, assets/images/mockups/bayof.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Bayof Real Estate
                            </h3>
                            <p class="item-folio__cat">
                                Real Estate Website <br/>
                                <span class="stack-text">React JS - Laravel</span>
                            </p>
                        </div>

                        <a href="https://www.bayof.co/"  class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="assets/images/mockups/buyproduct.jpg" class="thumb-link" title="Lighthouse" data-size="1050x700">
                                <img src="assets/images/mockups/buyproduct.jpg"
                                     srcset="assets/images/mockups/buyproduct.jpg 1x, assets/images/mockups/buyproduct.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Uncommon Product
                            </h3>
                            <p class="item-folio__cat">
                                E-Commerce Website <br/>
                                <span class="stack-text">Wordpress</span>
                            </p>
                        </div>

                        <a href="https://www.buyproductng.com/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="assets/images/mockups/richpinger.jpg" class="thumb-link" data-size="1050x700">
                                <img src="assets/images/mockups/richpinger.jpg"
                                     srcset="assets/images/mockups/richpinger.jpg 1x, assets/images/mockups/richpinger.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Richpinger
                            </h3>
                            <p class="item-folio__cat">
                                Social E-Commerce Mobile App <br/>
                                <span class="stack-text">PHP - Laravel</span>
                            </p>
                        </div>

                        <a href="https://play.google.com/store/apps/details?id=com.techocraft.richpinger" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="assets/images/mockups/uburuamaka.jpg" class="thumb-link" data-size="1050x700">
                                <img src="assets/images/mockups/uburuamaka.jpg"
                                     srcset="assets/images/mockups/uburuamaka.jpg 1x, assets/images/mockups/uburuamaka.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Uburuamaka Humanitarian Organization
                            </h3>
                            <p class="item-folio__cat">
                                NGO Website <br/>
                                <span class="stack-text">HTML/CSS - Javascript - PHP</span>
                            </p>
                        </div>

                        <a href="https://uburuamakahumanitarian.org/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->



            </div>
        </div> <!-- end masonry -->

    </section> <!-- end works -->
