.header-logo{
    padding: 0;
    margin: 0;
    a{
        display: flex;
        align-items: center;
        img{
            width: 50%;
            padding: 0;
            margin: 0;
        }
        h2{
            padding: 0;
            margin: 0;
            margin-left: 5px;
            font-family: "librebaskerville-bold";
            color: white;
            font-weight: 700;
        }
    }
}
