<div class="site-wrapper">
    <app-header></app-header>

    <div id="content" class="site-content">
        <div class="portfolio-item-wrapper center-relative content-1170">
            <div class="portfolio-content">
                <script>
                    var slider2_speed = "2000";
                    var slider2_auto = "true";
                    var slider2_hover = "true";
                </script>
                <div id="slider2" class="image-slider-wrapper relative">
                    <div id="slider" class="owl-carousel owl-theme image-slider slider">
                        <div class="owl-item">
                            <img src="assets/images/slider_01.jpg" alt="">
                        </div>
                        <div class="owl-item">
                            <img src="assets/images/slider_03.jpg" alt="">
                        </div>
                        <div class="owl-item">
                            <img src="assets/images/slider_04.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="two_third ">
                    <h1>Living Room</h1>
                    <div class="info-text">
                        Bearable only through love hydrogen atoms bits of moving fluff culture shores of the cosmic ocean roxysm of global death rich in heavy atoms with miles away from sun.
                    </div>
                    <br>
                    <p>
                        Bearable only through love hydrogen atoms bits of moving fluff culture shores of the cosmic ocean paroxysm of global death rich in heavy atoms with pretty stories for which there’s little good evidence something incredible is waiting to be known not a sunrise but a galaxyrise shores of the cosmic ocean inconspicuous motes of rock.
                    </p>
                </div>
                <div class="one_third last">
                    <br>
                    <div class="info-code">
                        <p class="info-code-title">PROJECT</p>
                        <p class="info-code-content">Corporate Branding</p>
                    </div>
                    <div class="info-code">
                        <p class="info-code-title">CLIENT</p>
                        <p class="info-code-content">Envato Studio</p>
                    </div>
                    <div class="info-code">
                        <p class="info-code-title">DATE</p>
                        <p class="info-code-content">September 2018</p>
                    </div>
                    <div class="info-code">
                        <p class="info-code-title">DESIGNER</p>
                        <p class="info-code-content">John Petters</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>
