<!-- Home Section -->
<div  class="section no-page-title gs-hero">
    <header class="header-holder gs-header">
        <div class="menu-wrapper center-relative relative">
            <div class="header-logo">
                <a href="">
                    <img src="assets/images/logo.png" alt="Seppo">
                </a>
            </div>

            <div class="toggle-holder">
                <div id="toggle">
                    <div class="first-menu-line"></div>
                    <div class="second-menu-line"></div>
                    <div class="third-menu-line"></div>
                </div>
            </div>

            <div class="menu-holder">
                <nav id="header-main-menu">
                    <ul class="main-menu sm sm-clean">
                        <li>
                            <a href="#services">About Me</a>
                        </li>
                        <li>
                            <a href="blog">Blog</a>
                        </li>
                        <li>
                            <a href="portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="clear"></div>
        </div>
    </header>

    <div class="section-wrapper block content-1170 center-relative">
        <div>
            <div class="content-wrapper p-0">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-4 d-none d-md-block">
                                <span ><hr/></span>
                            </div>

                            <div class="col-12 col-md-auto p-md-0">
                                <p class="title-description-up text-uppercase text-center text-md-left">
                                    Full Stack Web Developer
                                </p>
                            </div>
                        </div>
                        <h1 class="big-text ">I am Utibe-Abasi Emmanuel</h1>
                        <div class="button-holder">
                            <a href="#about" class="button">About Me</a>
                            <a href="#portfolio" class="button button-outline pricing-button ms-5 me-5">My Portfolio</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div>

        </div>
    </div>
</div>
