<!-- Services Section -->
<div id="services" class="section">
    <div class="page-title-holder">
        <h3 class="entry-title">
            What We Do
        </h3>
    </div>
    <div class="section-wrapper block content-1170 center-relative">
        <div class="content-wrapper">

            <div class="one_third ">
                <div class="service-holder">
                    <p class="service-num">1</p>
                    <div class="service-txt">
                        <h4>Branding</h4>
                        <p>
                            Curabitur cursus mattis ligula a maximus pellentesque in purus malesuada pharetra eros.
                        </p>
                        <br>
                        <div class="button-holder text-left">
                            <a href="#portfolio" class="button-dot">
                                <span>MORE</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="one_third ">
                <div class="service-holder">
                    <p class="service-num">2</p>
                    <div class="service-txt">
                        <h4>Design</h4>
                        <p>
                            Est sem integer suscipit enim quis dictum feugiat etiam pellentesque curabitur donec porttitor.
                        </p>
                        <br>
                        <div class="button-holder text-left">
                            <a href="#news" class="button-dot">
                                <span>MORE</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="one_third last">
                <div class="service-holder">
                    <p class="service-num">3</p>
                    <div class="service-txt">
                        <h4>Marketing</h4>
                        <p>
                            Donec vel est sem integer suscipit enim quis lorem posuere vestibulum metus tempor vitae.
                        </p>
                        <br>
                        <div class="button-holder text-left">
                            <a href="#contact" class="button-dot">
                                <span>MORE</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
