<div class="site-wrapper">
    <app-header></app-header>

    <div id="content" class="site-content">
        <div class="blog-holder block center-relative">
        <article class="relative blog-item-holder center-relative has-post-thumbnail">
            <div class="blog-item-wrapper">
                <div class="post-thumbnail">
                    <a href="single.html">
                        <div class="post-thumbnail-image">
                            <img src="images/blog_img_01.jpg" alt="" />
                        </div>
                    </a>
                </div>
                <div class="entry-holder">
                    <h2 class="entry-title">
                        <a href="single.html">
                            How to write rogue mote of dust love
                        </a>
                    </h2>
                    <div class="entry-info">
                        <div class="entry-info-left">
                            <div class="cat-links">
                                <ul>
                                    <li>
                                        <a href="#">Uncategorized</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="entry-date published">
                                September 10, 2018
                            </div>
                        </div>
                        <div class="excerpt">
                            <p>
                                Bearable only through love hydrogen atoms bits of moving fluff culture shores of the cosmic ocean paroxysm of global death …
                            </p>
                        </div>
                    </div>
                    <a class="item-button" href="single.html">READ MORE</a>
                </div>
                <div class="clear"></div>
            </div>
        </article>

        <article class="relative blog-item-holder center-relative has-post-thumbnail">
            <div class="blog-item-wrapper">
                <div class="post-thumbnail">
                    <a href="single.html">
                        <div class="post-thumbnail-image">
                            <img src="images/blog_img_02.jpg" alt="" />
                        </div>
                    </a>
                </div>
                <div class="entry-holder">
                    <h2 class="entry-title">
                        <a href="single.html">Epochs encyclopa galactica stellar</a>
                    </h2>
                    <div class="entry-info">
                        <div class="entry-info-left">
                            <div class="cat-links">
                                <ul>
                                    <li>
                                        <a href="#">Uncategorized</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="entry-date published">
                                September 10, 2018
                            </div>
                        </div>
                        <div class="excerpt">
                            <p>
                                Bearable only through love hydrogen atoms bits of moving fluff culture shores of the cosmic ocean paroxysm of global death …
                            </p>
                        </div>
                    </div>
                    <a class="item-button" href="single.html">READ MORE</a>
                </div>
                <div class="clear"></div>
            </div>
        </article>

        <article class="relative blog-item-holder center-relative has-post-thumbnail">
            <div class="blog-item-wrapper">
                <div class="post-thumbnail">
                    <a href="single.html">
                        <div class="post-thumbnail-image">
                            <img src="images/blog_img_03.jpg" alt="" />
                        </div>
                    </a>
                </div>
                <div class="entry-holder">
                    <h2 class="entry-title">
                        <a href="single.html">Do it yourself white print art frame</a>
                    </h2>
                    <div class="entry-info">
                        <div class="entry-info-left">
                            <div class="cat-links">
                                <ul>
                                    <li>
                                        <a href="#">Uncategorized</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="entry-date published">
                                September 10, 2018
                            </div>
                        </div>
                        <div class="excerpt">
                            <p>
                                Bearable only through love hydrogen atoms bits of moving fluff culture shores of the cosmic ocean paroxysm of global death …
                            </p>
                        </div>
                    </div>
                    <a class="item-button" href="single.html">READ MORE</a>
                </div>
                <div class="clear"></div>
            </div>
        </article>

        </div>
    </div>

    <app-footer></app-footer>
</div>
