    <!-- News Section -->
    <div id="news" class="section">
        <div class="page-title-holder">
            <h3 class="entry-title">
                NEWS
            </h3>
        </div>
        <div class="section-wrapper block content-1170 center-relative">
            <div class="content-wrapper">
                <div class="blog-holder-scode latest-posts-scode block center-relative">

                    <article class="relative blog-item-holder-scode">
                        <div class="post-thumbnail">
                            <a href="single.html">
                                <div class="latest-posts-background-featured-image-holder" data-background-image="assets/images/blog_img_01.jpg"></div>
                            </a>
                        </div>
                        <h4 class="entry-title">
                            <a href="single.html">
                                How to write rogue mote of dust love
                            </a>
                        </h4>
                        <div class="excerpt">
                            Bearable only through love hydrogen atoms bits of moving fluff culture shores of the cosmic ocean paroxysm of global death ...
                        </div>
                    </article>

                    <article class="relative blog-item-holder-scode">
                        <div class="post-thumbnail">
                            <a href="single.html">
                                <div class="latest-posts-background-featured-image-holder" data-background-image="assets/images/blog_img_02.jpg"></div>
                            </a>
                        </div>
                        <h4 class="entry-title">
                            <a href="single.html">
                                Epochs encyclopa galactica stellar
                            </a>
                        </h4>
                        <div class="excerpt">
                            Bearable only through love hydrogen atoms bits of moving fluff culture shores of the cosmic ocean paroxysm of global death ...
                        </div>
                    </article>

                    <article class="relative blog-item-holder-scode">
                        <div class="post-thumbnail">
                            <a href="single.html">
                                <div class="latest-posts-background-featured-image-holder" data-background-image="assets/images/blog_img_03.jpg"></div>
                            </a>
                        </div>
                        <h4 class="entry-title">
                            <a href="single.html">
                                How to write rogue mote of dust love
                            </a>
                        </h4>
                        <div class="excerpt">
                            Bearable only through love hydrogen atoms bits of moving fluff culture shores of the cosmic ocean paroxysm of global death ...
                        </div>
                    </article>
                </div>
                <br>
                <div class="button-holder center-text">
                    <a href="blog.html" class="button">
                        GO TO BLOG
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
