    <!-- Millstones Section -->
    <div id="millstones" class="section">
        <div class="page-title-holder">
            <h3 class="entry-title">
                MILESTONES
            </h3>
        </div>
        <div class="section-wrapper block content-1170 center-relative">
            <div class="content-wrapper">
                <ul class="milestones-holder">

                    <li class="milestone">
                        <div class="milestone-info-left">
                            <p class="milestone-num">135</p>
                        </div>
                        <div class="milestone-info-right">
                            <h5>Terabytes of files uploaded</h5>
                            <p class="milestone-text">
                                Nulla ac laoreet est, a mollis nibh. Aenean eget auctor velit quis pharetra.
                            </p>
                        </div>
                    </li>

                    <li class="milestone">
                        <div class="milestone-info-left">
                            <p class="milestone-num">67K</p>
                        </div>
                        <div class="milestone-info-right">
                            <h5>Lines of CSS code wrote</h5>
                            <p class="milestone-text">
                                Nulla ac laoreet est, a mollis nibh. Aenean eget auctor velit quis pharetra.
                            </p>
                        </div>
                    </li>

                    <li class="milestone">
                        <div class="milestone-info-left">
                            <p class="milestone-num">74</p>
                        </div>
                        <div class="milestone-info-right">
                            <h5>Cups of coffee drinked per week</h5>
                            <p class="milestone-text">
                                Nulla ac laoreet est, a mollis nibh. Aenean eget auctor velit quis pharetra.
                            </p>
                        </div>
                    </li>

                    <li class="milestone">
                        <div class="milestone-info-left">
                            <p class="milestone-num">389</p>
                        </div>
                        <div class="milestone-info-right">
                            <h5>Happy clients served this year</h5>
                            <p class="milestone-text">
                                Nulla ac laoreet est, a mollis nibh. Aenean eget auctor velit quis pharetra.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
