 <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full">
                <div class="row narrow section-intro">
                    <div class="col-full">
                        <h3>Contact</h3>
                        <!-- <h1 style="color: white;">Say Hello.</h1> -->
                    </div>
                </div>


                <div class="footer-content" style="text-align: center; width: 100%; margin-top: 20px;">
                    <div class="footer-logo-divider"></div>
                    <div class="footer-mail">
                        <a href="mailto:utyemma@gmail.com">utyemma@gmail.com</a>
                    </div>
                    <div class="footer-social-divider"></div>

                    <div class="social-holder">
                        <div class="color: white;">
                            <span class="im im-phone" style="margin-right: 20px;"></span>
                            <span class="im im-whatsapp"></span>
                        </div>
                        <a href="tel:2349058705881">
                            +234 903 870 5881
                        </a>
                    </div>
                </div>


                <ul class="footer-social">
                    <li><a href="#0">
                        <i class="im im-facebook" aria-hidden="true"></i>
                        <span>Facebook</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-twitter" aria-hidden="true"></i>
                        <span>Twitter</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-instagram" aria-hidden="true"></i>
                        <span>Instagram</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-behance" aria-hidden="true"></i>
                        <span>Behance</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-pinterest" aria-hidden="true"></i>
                        <span>Pinterest</span>
                    </a></li>
                </ul>

            </div>
        </div>

        <div class="row footer-bottom">
            <div class="footer-logo">
                <a class="footer-site-logo" href="#0"><img src="assets/images/logo.png" alt="Homepage"></a>
            </div>

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Hola 2017</span>
                    <span>Design by <a href="https://www.styleshout.com/">styleshout</a></span>
                </div>

                <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->
