  <!-- Footer -->
  <footer class="footer">
    <div class="footer-content center-relative">
        <div class="footer-logo">
            <img src="assets/ images/footer_logo.png" alt="Seppo" />
        </div>
        <div class="footer-logo-divider"></div>
        <div class="footer-mail">
            <a href="mailto:hello@site.com">hello@cocobasic.com</a>
        </div>
        <div class="footer-social-divider"></div>
        <div class="social-holder">
            <a href="#">
                <span class="fa fa-twitter"></span>
            </a>
            <a href="#">
                <span class="fa fa-facebook"></span>
            </a>
            <a href="#">
                <span class="fa fa-behance"></span>
            </a>
            <a href="#">
                <span class="fa fa-dribbble"></span>
            </a>
        </div>

        <div class="copyright-holder">
            © 2018 Seppo HTML Template by <a href="https://grandscaledigital.com">CocoBasic</a>
        </div>
    </div>
  </footer>
