 <!-- Contact Section -->
 <div id="contact" class="section">
    <div class="page-title-holder">
        <h3 class="entry-title">
            CONTACT
        </h3>
    </div>
    <div class="section-wrapper block content-1170 center-relative">
        <div class="content-wrapper">
            <div class="one_half ">
                <p class="title-description-up">CONTACT US</p>
                <h2 class="entry-title medium-text">
                    Lets start <br>
                    Working
                </h2>
                <p>
                    Because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept one we are.
                </p>
                <br>
                <div class="social">
                    <a href="#" target="_blank">
                        <span class="fa fa-facebook"></span>
                    </a>
                </div>
                <div class="social">
                    <a href="#" target="_blank">
                        <span class="fa fa-twitter"></span>
                    </a>
                </div>
                <div class="social">
                    <a href="#" target="_blank">
                        <span class="fa fa-instagram"></span>
                    </a>
                </div>
                <div class="social">
                    <a href="#" target="_blank">
                        <span class="fa fa-vimeo"></span>
                    </a>
                </div>
                <div class="social">
                    <a href="#" target="_blank">
                        <span class="fa fa-behance"></span>
                    </a>
                </div>
            </div>

            <div class="one_half last ">
                <div class="contact-form">
                    <p>
                        <input id="name" type="text" name="your-name" placeholder="Name">
                    </p>
                    <p>
                        <input id="contact-email" type="email" name="your-email" placeholder="Email">
                    </p>
                    <p>
                        <input id="subject" type="text" name="your-subject" placeholder="Subject">
                    </p>
                    <p>
                        <textarea id="message" name="your-message" placeholder="Message"></textarea>
                    </p>
                    <p class="contact-submit-holder">
                        <input type="submit" value="SEND">
                    </p>
                </div>
            </div>
            <div class="clear"></div>

            <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4274.290564544589!2d-75.2952832049782!3d40.753669641460846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srs!4v1444506658649" width="600" height="450" allowfullscreen="allowfullscreen"></iframe>
            </p>

        </div>
    </div>
</div>
